In [ ]:
import pandas as pd

In [ ]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
hand_df = pd.DataFrame(hand)
display(hand_df)
display(hand_df['性別'])
display(type(hand_df['性別']))

In [ ]:
#indexとcolumnsの指定
feature1 =['gender','age','win','lose','draw']
feature2 =['性別','年齢','勝ち','負け','あいこ']
id = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

In [ ]:
hand_df2 = hand_df.copy()
display(hand_df2)

In [ ]:
hand_df.index = [id, num]
display(hand_df)
hand_df.index.names = ['NUM', '番号']
display(hand_df)
hand_df.columns = [feature1, feature2]
display(hand_df)
hand_df.columns.names = ['feature','特徴']
display(hand_df)

In [ ]:
display(hand_df.droplevel('番号'))
display(hand_df.droplevel('特徴', axis=1))

In [ ]:
display(hand_df)
display(hand_df['gender'])
display(type(hand_df['gender']))
display(hand_df[['gender']])
display(type(hand_df[['gender']]))
display(hand_df.droplevel('特徴', axis=1))
df2 = hand_df.droplevel('特徴', axis=1)
display(type(hand_df['gender']))

In [ ]:
# hand_df['gender']

display(hand_df.droplevel('feature',axis=1)['性別'])
display(type(hand_df.droplevel('feature',axis=1)['性別']))

display(hand_df['gender'])
display(type(hand_df['gender']))

# display(hand_df['性別'])
# display(type(hand_df['性別']))

In [ ]:
display(hand_df)

In [ ]:
# 次は全部同じ
display(hand_df.drop('106'))
display(hand_df.drop(['106']))
display(hand_df.drop(['106'],axis=0))

In [ ]:
display(hand_df.drop('gender', axis=1))

# 3週目

In [ ]:
import pandas as pd

In [ ]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
feature1 =['gender','age','win','lose','draw']
feature2 =['性別','年齢','勝ち','負け','あいこ']
id = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

In [ ]:
hand_df1 = pd.DataFrame(hand)
hand_df2 = hand_df1.copy()
display(hand_df2)

In [ ]:
hand_df1.index = [id, num]
hand_df1.index.names = ['NUM', '番号']
hand_df1.columns = [feature1, feature2]
hand_df1.columns.names = ['feature', '特徴']
display(hand_df1)

In [ ]:
hand_df1.droplevel(1)

In [ ]:
hand_df1.droplevel(1, axis = 1)

In [ ]:
hand_df1['gender']

In [ ]:
hand_df1.drop('106', axis = 0)

In [ ]:
hand_df1.drop('gender', axis = 1)

# 4週目

In [1]:
import pandas as pd

In [2]:
hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
        '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
        '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
        '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
        'あいこ':[15,40,34,29,14, 4,22,17,12,10]}
feature1 =['gender','age','win','lose','draw']
feature2 =['性別','年齢','勝ち','負け','あいこ']
id = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

df_hand = pd.DataFrame(hand)

In [3]:
df_hand1 = df_hand.copy()

In [4]:
df_hand1.index = [id, num]

In [5]:
df_hand1

       性別   年齢  勝ち  負け  あいこ
100 0  男性  30代  20  24   15
101 1  男性  20代  21  15   40
102 2  女性  10代   4  35   34
103 3  男性  10代  60   3   29
104 4  女性  40代  14  35   14
105 5  男性  50代  10  29    4
106 6  女性  40代  12   2   22
107 7  女性  10代  19  12   17
108 8  男性  20代  12  11   12
109 9  男性  10代  14  43   10

In [6]:
df_hand1.index.names = ['NUM', '番号']
df_hand1

        性別   年齢  勝ち  負け  あいこ
NUM 番号
100 0   男性  30代  20  24   15
101 1   男性  20代  21  15   40
102 2   女性  10代   4  35   34
103 3   男性  10代  60   3   29
104 4   女性  40代  14  35   14
105 5   男性  50代  10  29    4
106 6   女性  40代  12   2   22
107 7   女性  10代  19  12   17
108 8   男性  20代  12  11   12
109 9   男性  10代  14  43   10

In [7]:
df_hand1.columns = [feature1, feature2]
df_hand1.columns.names = ['feature','特徴']
df_hand1

feature gender  age win lose draw
特徴          性別   年齢  勝ち   負け  あいこ
NUM 番号
100 0       男性  30代  20   24   15
101 1       男性  20代  21   15   40
102 2       女性  10代   4   35   34
103 3       男性  10代  60    3   29
104 4       女性  40代  14   35   14
105 5       男性  50代  10   29    4
106 6       女性  40代  12    2   22
107 7       女性  10代  19   12   17
108 8       男性  20代  12   11   12
109 9       男性  10代  14   43   10

In [8]:
df_hand1.droplevel(1)

feature gender  age win lose draw
特徴          性別   年齢  勝ち   負け  あいこ
NUM
100         男性  30代  20   24   15
101         男性  20代  21   15   40
102         女性  10代   4   35   34
103         男性  10代  60    3   29
104         女性  40代  14   35   14
105         男性  50代  10   29    4
106         女性  40代  12    2   22
107         女性  10代  19   12   17
108         男性  20代  12   11   12
109         男性  10代  14   43   10

In [9]:
df_hand1.droplevel(1, axis=1)

feature gender  age  win  lose  draw
NUM 番号
100 0       男性  30代   20    24    15
101 1       男性  20代   21    15    40
102 2       女性  10代    4    35    34
103 3       男性  10代   60     3    29
104 4       女性  40代   14    35    14
105 5       男性  50代   10    29     4
106 6       女性  40代   12     2    22
107 7       女性  10代   19    12    17
108 8       男性  20代   12    11    12
109 9       男性  10代   14    43    10

In [10]:
df_hand1['gender']

特徴      性別
NUM 番号
100 0   男性
101 1   男性
102 2   女性
103 3   男性
104 4   女性
105 5   男性
106 6   女性
107 7   女性
108 8   男性
109 9   男性

In [11]:
df_hand1.drop(['106'])

feature gender  age win lose draw
特徴          性別   年齢  勝ち   負け  あいこ
NUM 番号
100 0       男性  30代  20   24   15
101 1       男性  20代  21   15   40
102 2       女性  10代   4   35   34
103 3       男性  10代  60    3   29
104 4       女性  40代  14   35   14
105 5       男性  50代  10   29    4
107 7       女性  10代  19   12   17
108 8       男性  20代  12   11   12
109 9       男性  10代  14   43   10

In [12]:
df_hand1.drop(['gender'],axis = 1)

/Users/hirokuni/.pyenv/versions/anaconda3-2019.03/lib/python3.7/site-packages/pandas/core/generic.py:3812: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

feature  age win lose draw
特徴        年齢  勝ち   負け  あいこ
NUM 番号
100 0    30代  20   24   15
101 1    20代  21   15   40
102 2    10代   4   35   34
103 3    10代  60    3   29
104 4    40代  14   35   14
105 5    50代  10   29    4
106 6    40代  12    2   22
107 7    10代  19   12   17
108 8    20代  12   11   12
109 9    10代  14   43   10