In [1]:

import pandas as pd

# データの準備
hand1 = {'id'  :['100','101','102','103','104','105','106','107','108','109'],
         'gender'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
         'age'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
         'address'  :['東京','大阪','名古屋','北海道','東京','鹿児島','大阪','名古屋','東京','大阪'],
         'hobby'  :['野球','ルーレット','じゃんけん','野球','ルーレット','野球','じゃんけん','ルーレット','野球','じゃんけん'],
         'job'  :['IT','医療','弁護士','事務','事務','弁護士','IT','IT','IT','事務'],
         'win'  :[20,21, 4,60,14,10,12,19,12,14],
         'lose'  :[24,15,35, 3,35,29, 2,12,11,43],
         'draw':[15,40,34,29,14, 4,22,17,12,10]}

hand_df1 = pd.DataFrame(hand1)

In [2]:
display(hand_df1)

    id gender  age address  hobby  job  win  lose  draw
0  100     男性  30代      東京     野球   IT   20    24    15
1  101     男性  20代      大阪  ルーレット   医療   21    15    40
2  102     女性  10代     名古屋  じゃんけん  弁護士    4    35    34
3  103     男性  10代     北海道     野球   事務   60     3    29
4  104     女性  40代      東京  ルーレット   事務   14    35    14
5  105     男性  50代     鹿児島     野球  弁護士   10    29     4
6  106     女性  40代      大阪  じゃんけん   IT   12     2    22
7  107     女性  10代     名古屋  ルーレット   IT   19    12    17
8  108     男性  20代      東京     野球   IT   12    11    12
9  109     男性  10代      大阪  じゃんけん   事務   14    43    10

In [3]:
hand_df1.to_csv('hand_df1.csv')

In [4]:
pd.read_csv('hand_df1.csv')

   Unnamed: 0   id gender  age address  hobby  job  win  lose  draw
0           0  100     男性  30代      東京     野球   IT   20    24    15
1           1  101     男性  20代      大阪  ルーレット   医療   21    15    40
2           2  102     女性  10代     名古屋  じゃんけん  弁護士    4    35    34
3           3  103     男性  10代     北海道     野球   事務   60     3    29
4           4  104     女性  40代      東京  ルーレット   事務   14    35    14
5           5  105     男性  50代     鹿児島     野球  弁護士   10    29     4
6           6  106     女性  40代      大阪  じゃんけん   IT   12     2    22
7           7  107     女性  10代     名古屋  ルーレット   IT   19    12    17
8           8  108     男性  20代      東京     野球   IT   12    11    12
9           9  109     男性  10代      大阪  じゃんけん   事務   14    43    10

In [6]:
pd.read_csv('hand_df1.csv').drop('Unnamed: 0', axis=1)

    id gender  age address  hobby  job  win  lose  draw
0  100     男性  30代      東京     野球   IT   20    24    15
1  101     男性  20代      大阪  ルーレット   医療   21    15    40
2  102     女性  10代     名古屋  じゃんけん  弁護士    4    35    34
3  103     男性  10代     北海道     野球   事務   60     3    29
4  104     女性  40代      東京  ルーレット   事務   14    35    14
5  105     男性  50代     鹿児島     野球  弁護士   10    29     4
6  106     女性  40代      大阪  じゃんけん   IT   12     2    22
7  107     女性  10代     名古屋  ルーレット   IT   19    12    17
8  108     男性  20代      東京     野球   IT   12    11    12
9  109     男性  10代      大阪  じゃんけん   事務   14    43    10