In [1]:
import pandas as pd

In [2]:
feature1 =['gender','age','win','lose','draw']
feature2 =['性別','年齢','勝ち','負け','あいこ']
id = ['100','101','102','103','104','105','106','107','108','109']
num = ['0','1','2','3','4','5','6','7','8','9']

hand = {'性別'  :['男性','男性','女性','男性','女性','男性','女性','女性','男性','男性'],
    '年齢'  :['30代','20代','10代','10代','40代','50代','40代','10代','20代','10代'],
    '勝ち'  :[20,21, 4,60,14,10,12,19,12,14],
    '負け'  :[24,15,35, 3,35,29, 2,12,11,43],
    'あいこ':[15,40,34,29,14, 4,22,17,12,10]}

In [3]:
hand_df = pd.DataFrame(hand)

In [4]:
hand_df2 = hand_df.copy()

In [5]:
hand_df2.index = [id, num]
hand_df2.index.names = ["NUM", "番号"]
display(hand_df2)

        性別   年齢  勝ち  負け  あいこ
NUM 番号
100 0   男性  30代  20  24   15
101 1   男性  20代  21  15   40
102 2   女性  10代   4  35   34
103 3   男性  10代  60   3   29
104 4   女性  40代  14  35   14
105 5   男性  50代  10  29    4
106 6   女性  40代  12   2   22
107 7   女性  10代  19  12   17
108 8   男性  20代  12  11   12
109 9   男性  10代  14  43   10

In [6]:
hand_df2.columns = [feature1]
display(hand_df2)

       gender  age win lose draw
NUM 番号
100 0      男性  30代  20   24   15
101 1      男性  20代  21   15   40
102 2      女性  10代   4   35   34
103 3      男性  10代  60    3   29
104 4      女性  40代  14   35   14
105 5      男性  50代  10   29    4
106 6      女性  40代  12    2   22
107 7      女性  10代  19   12   17
108 8      男性  20代  12   11   12
109 9      男性  10代  14   43   10

In [7]:
hand_df2.columns = [feature1, feature2]
display(hand_df2)

       gender  age win lose draw
           性別   年齢  勝ち   負け  あいこ
NUM 番号
100 0      男性  30代  20   24   15
101 1      男性  20代  21   15   40
102 2      女性  10代   4   35   34
103 3      男性  10代  60    3   29
104 4      女性  40代  14   35   14
105 5      男性  50代  10   29    4
106 6      女性  40代  12    2   22
107 7      女性  10代  19   12   17
108 8      男性  20代  12   11   12
109 9      男性  10代  14   43   10

In [8]:
hand_df2.columns.names = ['feature','特徴']
display(hand_df2)

feature gender  age win lose draw
特徴          性別   年齢  勝ち   負け  あいこ
NUM 番号
100 0       男性  30代  20   24   15
101 1       男性  20代  21   15   40
102 2       女性  10代   4   35   34
103 3       男性  10代  60    3   29
104 4       女性  40代  14   35   14
105 5       男性  50代  10   29    4
106 6       女性  40代  12    2   22
107 7       女性  10代  19   12   17
108 8       男性  20代  12   11   12
109 9       男性  10代  14   43   10

In [9]:
hand_df2.columns = hand_df2.columns.droplevel(1)
hand_df2.index = hand_df2.index.droplevel(1)
display(hand_df2)

feature gender  age  win  lose  draw
NUM
100         男性  30代   20    24    15
101         男性  20代   21    15    40
102         女性  10代    4    35    34
103         男性  10代   60     3    29
104         女性  40代   14    35    14
105         男性  50代   10    29     4
106         女性  40代   12     2    22
107         女性  10代   19    12    17
108         男性  20代   12    11    12
109         男性  10代   14    43    10

In [22]:
display(hand_df2['gender'])

NUM
100    男性
101    男性
102    女性
103    男性
104    女性
105    男性
106    女性
107    女性
108    男性
109    男性
Name: gender, dtype: object

In [24]:
display(hand_df2['gender'] == '男性')
display("type: {}".format(type(hand_df2['gender'] == '男性')))

NUM
100     True
101     True
102    False
103     True
104    False
105     True
106    False
107    False
108     True
109     True
Name: gender, dtype: bool

"type: <class 'pandas.core.series.Series'>"

In [21]:
display(hand_df2[hand_df2['gender'] == '男性'])

feature gender  age  win  lose  draw
NUM
100         男性  30代   20    24    15
101         男性  20代   21    15    40
103         男性  10代   60     3    29
105         男性  50代   10    29     4
108         男性  20代   12    11    12
109         男性  10代   14    43    10

In [25]:
display(hand_df2.drop(['106'], axis = 0))

feature gender  age  win  lose  draw
NUM
100         男性  30代   20    24    15
101         男性  20代   21    15    40
102         女性  10代    4    35    34
103         男性  10代   60     3    29
104         女性  40代   14    35    14
105         男性  50代   10    29     4
107         女性  10代   19    12    17
108         男性  20代   12    11    12
109         男性  10代   14    43    10

In [28]:
display(hand_df2.drop(['gender'], axis=1))

feature  age  win  lose  draw
NUM
100      30代   20    24    15
101      20代   21    15    40
102      10代    4    35    34
103      10代   60     3    29
104      40代   14    35    14
105      50代   10    29     4
106      40代   12     2    22
107      10代   19    12    17
108      20代   12    11    12
109      10代   14    43    10